<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="MICommentsBundle test suite">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Whitelist for code coverage -->
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./DependencyInjection</directory>
                <directory>./DTO</directory>
                <directory>./Entity</directory>
                <directory>./Migrations</directory>
                <directory>./Repository</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>